---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const project = (await Astro.glob('./projects/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>	
		<Header title={SITE_TITLE} />
		<main>
			<!-- <section>
				<ul>
					{project.map((project) => (
						<li>
							<time datetime={project.frontmatter.pubDate}>
								{new Date(project.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={project.url}>{project.frontmatter.title}</a>
						</li>
					))}
				</ul>
			</section> -->

			<section>
				{project.map((project) => (
					<article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
						<img alt={project.frontmatter.alt} src={project.frontmatter.heroImage} class="h-56 w-full object-cover"/>
						<div class="bg-white p-4 sm:p-6">
							<time datetime={project.frontmatter.pubDate} class="block text-xs text-gray-500">
							{new Date(project.frontmatter.pubDate).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric'})}
							</time>
							<a href={project.url}>
								<h3 class="mt-0.5 text-lg text-gray-900">
									{project.frontmatter.title}
								</h3>
							</a>
							<p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
							{project.frontmatter.description}
							</p>
						</div>
					</article>
				))}
			</section>
		</main>
		<Footer />
	</body>
</html>
